<div class="splash__container" fxLayout="row" fxLayoutGap="36px" fxLayoutAlign="center center" fxLayoutAlign.lt-md="start center" fxLayout.lt-md="column" ngClass.lt-md="splash__container--sm" ngClass.lt-sm="splash__container--sm splash__container--xs">

  <div class='splash__window'>
    <div class="splash__table">
      <mat-flashcard class="splash__card splash__card1" [material]="cardDisplay[0]"></mat-flashcard>
      <mat-flashcard class="splash__card splash__card2" [material]="cardDisplay[1]"></mat-flashcard>
      <mat-flashcard class="splash__card splash__card3" [material]="cardDisplay[2]"></mat-flashcard>
      <mat-flashcard class="splash__card splash__card4" [material]="cardDisplay[3]"></mat-flashcard>
      <mat-flashcard class="splash__card splash__card5" [material]="cardDisplay[4]"></mat-flashcard>
    </div>
  </div>


  <div class="splash__home">
    <div class="splash_headline">A technology vocab <br>e-flashcard</div>


    <button class="splash__cta" mat-raised-button color="primary">Learn More</button>
  </div>
</div>
