<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
  <mat-toolbar-row>
    <button mat-button routerLink="/">
      <mat-icon class="flashcard__logo" svgIcon="flashcard-logo"></mat-icon>
      <span class="flashcard__title" fxHide.lt-sm="true">Flashcard</span>
    </button>
    <button mat-button routerLink="/wall" fxHide.lt-sm="true">
      <mat-icon svgIcon="wall"></mat-icon>
      <span>Card Wall</span>
    </button>
    <button mat-button routerLink="/catalog" fxHide.lt-sm="true">
      <mat-icon class="icon__cate" svgIcon="catalogue"></mat-icon>
      <span>Catalogue</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="drawer__container">
  <mat-drawer-content on-cardclick="onCardClick($event)" class="drawer__content">
    <router-outlet></router-outlet>
  </mat-drawer-content>

  <mat-drawer #drawerFlashcard fxHide.lt-md="true" position="end">
    <mat-drawer-content *ngIf="selectedMaterial" class="flashcard__detail">
      <flashcard-detail [material]="selectedMaterial" on-closeDetail="onCloseDetail()"></flashcard-detail>
    </mat-drawer-content>

  </mat-drawer>

</mat-drawer-container>
