@icon-diameter: 26px;
@red: #f05033;
@blue: #19b5ea;
@yellow: #f6b412;

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flashcard__title {
  font-size: 20px;
}

.flashcard__logo {
  width: @icon-diameter;
  height: @icon-diameter;
  margin-right: 4px;
  fill: #ffd600;
}

.toolbar {
  position: relative;
  z-index: 10;
  height: 56px;
  color: white;
}

.drawer__container {
  flex: 1;
}

.flashcard__detail {
  max-width: 480px;
}
