@use '@angular/material' as mat;
@include mat.core();


@function define-theme-foreground($color) {
  @return (base: $color);
}

$palette-primary: mat.define-palette(mat.$yellow-palette, A700);
$palette-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$flashcard-theme: mat.define-light-theme((
 color: (
   primary: $palette-primary,
   accent: $palette-accent
 )
));

// $color-foreground: define-theme-foreground(mat-color(mat.$red-palette, 900));


@include mat.core-theme($flashcard-theme);
@include mat.button-theme($flashcard-theme);
@include mat.toolbar-theme($flashcard-theme);
